 .info-card {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 44vw;
    position: absolute; /* Add position absolute */
    right: 2%;
    top: 16%;
  }

