.team-list {
  font-size: 40px;
  display: flex;
  height: 85vh;
  width: 48vw;
  margin: 5%;
  padding: 0 !important;
}

.divider {
  width: 100%;
  margin-top: 1.5rem;
}

 .mat-mdc-card-content{
  padding: 0;
  width: 100%;
}

.mat-expansion-panel {
  display: contents;
  border-bottom: 1px solid;
  width: 100%;
}



.memberContainer {
  padding: 0;
  background-color: lightgray;
  width: 100%;
  height: 100%;
}


.divider2 {
  width: 100%;
  bottom: 50px;
}

.action-row {
  position: absolute;
  bottom: 6px;
  right: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.action-row2 {
  border-top: 1px solid;
  padding: 0;
  width: 100%;
  background-color: white;
}
button {
  margin: 0;
  padding: 0;
  background-color: white;
  border: 0;
}
.addMember {
  margin: 0;
  padding: 0;
}
 .members{
  display: flex;
  padding: 0;
  background-color: lightgray;
  width: 100%;
  justify-content: space-evenly;
 }

.memberIcon {
  padding: 5px;
  height: 50px;
  width: 50px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
  width: 100% !important;
}
.no-members {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
}

.errormembers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: xx-large;
  color: rgb(128, 128, 128);
padding: 16px;
}
