.team-list {
  font-size: 40px;
  display: flex;
  height: 85vh;
  width: 48vw;
  margin: 5%;
  padding: 0 !important;
  --mat-expansion-container-background-color: lightgray;
}

.divider {
  width: 100%;
  margin-top: 1.5rem;
}

 .mat-mdc-card-content{
  padding: 0;
  width: 100%;
}

.mat-expansion-panel {
  display: contents;
  border-bottom: 1px solid;
  width: 100%;
}



.memberContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: lightgray;
  width: 100%;
}

.divider2 {
  width: 100%;
  bottom: 50px;
}

.action-row {
  position: absolute;
  bottom: 6px;
  right: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.action-row2 {
  border-top: 1px solid;
  padding: 0;
  width: 100%;
}


.memberIcon {
  padding: 5;
  height: auto;
  width: 50px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}
