
mat-dialog-content {
  padding: 0%;
  width: 100%;
  border-radius: 0px;
}

mat-form-field {
  width: 100%;
  border-color: white;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.submit{
  position: absolute;
  bottom: 6px;
  right: 5px;
  margin: 0;
  padding: 0;
}

.cancel{
  position: absolute;
  bottom: 6px;
  right: 70px;
  margin: 0;
  padding: 0;
}

::ng-deep .mdc-dialog__container {
  width: 100%;
  height: 65%;
  padding: 2%;
}


