<div class="addPersonDialog">
  <form [formGroup]="this.addPersonForm" (submit)="onSubmit()">
    <div class="control-row">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="First Name"
          formControlName="firstName"
        />
        <mat-error>*First name required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
        />
        <mat-error>*Last name required</mat-error> </mat-form-field
      ><br />
    </div>
    <div class="control-row">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <mat-select formControlName="title">
          @for(title of this.titlesList; track $index){
          <mat-option [value]="titlesList[$index]">{{ title }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select formControlName="team" [ngModel]="this.data.teamName">
          @for(team of this.teams; track $index){
          <mat-option [value]="teams[$index]">{{ team.name }}</mat-option>
          }
        </mat-select> </mat-form-field
      ><br />
    </div>
    <div class="buttonRow">
      <button mat-raised-button type="button" (click)="onCancel()">
        Cancel
      </button>
      <button mat-raised-button type="submit">Submit</button>
    </div>
  </form>
</div>
